.body {
    position: relative;
    width: 1600px;
    height: 1880px;
    background: #ffffff;
    border: 1px solid #000000;

}

.headline {
            position: absolute;
            Width: 1600px;
            Height: 80px;
            background-color: #d4a1a1;
            left: 0px;
            top: 0px;
            border-bottom: 1px solid #ECECEC ;
        }


        .webstudio {
                position: absolute;
                width: 145px;
                height: 31px;
                left: 215px;
                top: 24px;
                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
                color: #2196F3;
                    }
        .studio-color {
                color: #000000;
        }

        .menunav {
                position: absolute;
                width: 294px;
                height: 16px;
                left: 453px;
                top: 32px;
               
        }
        .menunav-txt {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;   
                    color: #212121;
            }
            .contacts{
                    position: absolute;
                    width: 68px;
                    height: 16px;
                    left: 226px;
                    top: 0px;
            }
            .portf {
                    position: absolute;
                    width: 77px;
                    height: 16px;
                    left: 99px;
                    top: 0px;
            }
            .studio {
                    position: absolute;
                    width: 49px;
                    height: 16px;
                    left: 0px;
                    top: 0px;
            }
        .tel-hd {
                position: absolute;
                width: 122px;
                height: 16px;
                left: 1263px;
                top: 32px;
        }
        .email-hd {
                position: absolute;
                width: 135px;
                height: 16px;
                left: 1078px;
                top: 32px;
        }
.portfolio {
            position: absolute;
            width: 1170px;
            height: 1360px;
            left: 215px;
            top: 174px;
            background-color: aqua;
        }
            .filters {
                position: absolute;
                width: 611px;
                height: 54px;
                left: 280px;
                top: 0px;
            }
                .filter1 {
                    position: absolute;
                    width: 73px;
                    height: 38px;
                    left: 0px;
                    top: 0px;
                }
                .filter2 {
                    position: absolute;
                    width: 128px;
                    height: 38px;
                    left: 81px;
                    top: 0px;
                }
                .filter3 {
                    position: absolute;
                    width: 145px;
                    height: 38px;
                    left: 217px;
                    top: 0px;
                }
                .filter4 {
                    position: absolute;
                    width: 103px;
                    height: 38px;
                    left: 370px;
                    top: 0px;
                }
                .filter5 {
                    position: absolute;
                    width: 130px;
                    height: 38px;
                    left: 481px;
                    top: 0px;
                }
                .filter-txt {
                    color: #212121;
                    background-color: #F5F4FA;
                }
                .project1 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 0px;
                    top: 88px;
                }
                .project2 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 400px;
                    top: 88px;
                }
                .project3 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 800px;
                    top: 88px;
                }
                .project4 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 0px;
                    top: 522px;
                }
                .project5 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 400px;
                    top: 522px;
                }
                .project6 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 800px;
                    top: 522px;
                }
                .project7 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 0px;
                    top: 956px;
                }
                .project8 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 400px;
                    top: 956px;
                }
                .project9 {
                    position: absolute;
                    width: 370px;
                    height: 404px;
                    left: 800px;
                    top: 956px;
                }
.footer {
            position: absolute;
            width: 1600px;
            height: 252px;
            left: 0px;
            top: 1628px;
            position: absolute;
            background: #2F303A;
        }
            .webstudio-ft {
                position: absolute;
                width: 145px;
                height: 31px;
                left: 215px;
                top: 60px;
                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
                color: #2196F3;
            }
            .adress {
                position: absolute;
                width: 231px;
                height: 81px;
                left: 215px;
                top: 111px;
            }
            .map {
                position: absolute;
                width: 231px;
                height: 21px;
                left: 0px;
                top: 0px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
            .email {
                position: absolute;
                width: 231px;
                height: 21px;
                left: 0px;
                top: 39px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
            }
            .tel {
                position: absolute;
                width: 231px;
                height: 21px;
                left: 0px;
                top: 78px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
            }
